# Ignore the swap files.
*.swp

# Ignore the object files.
*.o

# Ignore the library files.
*.a
*.so

# Ignore the testing files.
test*

# Ignore the execute files.
postmajor

# Ignore the execute files.
.vscode